body{
    background-color: #eee;
}
.red {color:red}
.orange {color:orange}
.green {color:green}

#map2 { height: 180px; border-radius: 15px; }
#map3 { height: 180px; border-radius: 15px; }
#map4 { height: 180px; border-radius: 15px; }
#map5 { height: 180px; border-radius: 15px; }

.card {
    transition: box-shadow .3s;
    border: none;
    border-radius: 10px

}
.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 

}
.btn:hover{
    box-shadow: 0 0 11px rgba(59, 121, 255, 0.5); 

}
.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #ecf2ff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}
i{
    color: #407cff;
}
.badge span {
    background-color: #f4ffec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #2cd43a;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div { 
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}
